#class-header {
    display: flex;
    justify-content: flex-start;
    padding: 36px;
}

#class-header-img {
    height: 130px;
    width: 130px;
}

#class-header-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 36px;
}

#class-title-and-edit {
    align-items: center;
    display: flex;
}

#class-title {
    color: #197096;
    line-height: 1;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    max-width: calc(100vw - 744px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#class-tabs {
    display: flex;
    width: 100%;
    background-color: rgba(5, 101, 156, 0.08);
    border-bottom: 1px solid rgba(46, 64, 86, 0.26);
    height: 42px;
    margin: 0;
}

.class-tab-container {
    border-bottom: 8px solid transparent;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    flex: 1;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* padding-bottom: 6px; */
}

.class-tab{
    /* border-bottom: 8px solid transparent; */
    color: rgba(70, 80, 94, 0.8);
    font-size: 14px;
    /* padding-bottom: 4px; */
    cursor: pointer;
    flex: 1;
    font-weight: 400;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.class-tab-active {
    border-bottom: 8px solid rgba(18, 57, 108, 0.36);
    font-size: 14px;
    /* padding-bottom: 4px; */
    cursor: pointer;
    flex: 1;
    font-weight: 400;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
}

.class-tab-active > .class-tab{
    color: #46505e;
    font-weight: bold;
}

#deck-list {
    margin: 0;
    padding-bottom: 72px;
    padding-left: 0;
    height: calc(100vh - 250px);
    overflow-y: scroll;
}

.deck-container {
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 24px 30px 24px 42px;
    position: relative;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    color: inherit;
}

.deck-container:hover {
    background-color: rgb(195, 218, 228, 0.1);
    /* color: ; */
}

.deck-info-top {
    align-items: center;
    display: flex;
    flex: 1;
    font-size: large;
}

#new-deck-label {
    color: #CCC;
    font-size: 18px;
    font-weight: 600;
}
