#splash-body {
    width: 100vw;
    object-fit: cover;
    max-height: calc(100vh - 72px);
    height: calc(100vh - 72px);
    position: relative;
}

.splash-image-container {
    object-fit: cover;
    min-width: 100%;
    height: 100%;
    max-height: calc(100vh - 72px);
}

.splash-image-container>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#splash-text {
    position: relative;
    top: 100px;
    margin-right: 4%;
    margin-left: 4%;
    white-space: pre-line !important;
    color: white;
    width: 50%;
    text-shadow: 3px 3px black;
}

#splash-text>h1 {
    color: #FFFFFF;
    font-family: "Mont Bold", Mont, sans-serif;
    font-weight: 900;
    line-height: 1;
    margin: 0;
    font-size: calc(66px + 84 * ((100vw - 320px) / 1600));
}

#splash-text>h3 {
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 4rem;
    line-height: 0;
    font-size: calc(21px + 12 * ((100vw - 320px) / 1600));
}

#splash-text>h3>span {
    font-weight: bold;
}

#splash-text>p {
    font-size: 20px;
}

#splash-footer {
    color: white;
    width: 50%;
}

#splash-footer-header {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

#splash-dev-about-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#splash-dev-about-links>a {
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: none;
    /* text-shadow: 3px 3px black; */
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-root {
    position: absolute !important;
    z-index: -1 !important;
}
