#sidebar {
    background-color: #324054;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    max-height: 100vh;
    min-height: 100vh;
    min-width: 340px;
    padding: 0;
    position: relative;
    width: 340px;
    z-index: 99;
}

#sidebar-header {
    align-items: flex-start;
    color: #FFF;
    display: flex;
    flex-direction: column;
    margin: 30px 30px 18px;
    width: calc(100% - 60px);
}

#sidebar-header-top {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    width: 100%;
}

#sidebar-user-info {
    text-align: center;
}

#sidebar-header-bottom {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    margin: 30px 30px 18px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

#logo {
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    flex-shrink: 0;
}

#profile-cog-container {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.4);
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#classes-heading {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    white-space: nowrap;
}

#sidebar-body {
    height: calc(100vh - 116px - 84px);
    margin-bottom: 0;
    overflow-y: auto;
}

.class-container {
    height: 40px;
    margin-bottom: 36px;
    margin-top: 0;
    border-left: 8px solid transparent;
    cursor: pointer;
    display: flex;
    height: 72px;
    margin-bottom: 18px;
    margin-top: 18px;
    margin: 0;
    padding-left: 40px;
    position: relative;
    padding: 15px 0 15px 40px;
    border-left: 10px solid transparent white;
}

.class-container-active {
    height: 40px;
    margin-bottom: 36px;
    margin-top: 0;
    border-left: 8px solid transparent;
    cursor: pointer;
    display: flex;
    height: 72px;
    margin-bottom: 18px;
    margin-top: 18px;
    margin: 0;
    padding-left: 40px;
    position: relative;
    padding: 15px 0 15px 40px;
    border-left: 10px solid white;
}

#sidebar-footer {
    margin: 30px 30px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidebar-footer-header {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

#dev-about-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#dev-about-links > a {
    color: rgba(255, 255, 255, 0.6) !important;
    text-decoration: none;
}

/* Feature Classes  */

.class-icon-container {
    margin-right: 18px;
}

.class-icon {
    height: 40px;
    width: 40px;
}

.class-data {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    padding-bottom: 3px;
}

.class-title {
    color: rgba(255, 255, 255, 0.55);
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 186px;
}
