/* TODO Add site wide styles */
* {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
}

.pill-button {
  align-items: center;
  background-color: #29A5DC;
  border: none;
  border-radius: 42px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 300;
  height: 42px;
  justify-content: center;
  letter-spacing: 0.12em;
  outline-style: none;
  padding: 0 25.2px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
}

.modal-button {
  background-color: #FF8243;
  font-size: 12px;
  height: 48px;
}
