#preview-cards-container{
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    position: relative;

    height: calc(100vh - 116px);
    /* z-index: 1; */
    overflow-y: auto;
}

#preview-cards-table {
    background-color: #fbfbfb;
    padding: 0;
    height: calc(100vh - 116px);
    /* z-index: 1; */
    overflow-y: auto;
}

#preview-cards-list {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 36px;
    /* transition: all 0.5s ease; */
}

.card-row {
    align-items: center;
    display: flex;
    padding-left: 9px;
    transition: all 0.5s ease;
    margin-right: 10px;
}

.card-header {
    color: #197096;
    font-weight: 600;
    margin-right: 10px;
    font-size: x-large;
}

.card {
    /* width: calc(100vw - 90px - 144px); */
    width: calc(100vw - 90px - 300px);
    border-left: 6px solid #7D93A4;
    border: 1px solid #C0CAD1;
    box-shadow: -1px 1px 6px #d5e1e9;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    max-width: none;
}

.card-question-container {
    border-right: 1px solid #ddd;
    width: 50%;
    align-self: stretch;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    justify-content: space-between;
    overflow: auto;
    position: relative;
    /* transition: all 0.5s ease; */
}

.card-answer-container {
    width: 50%;
    align-self: stretch;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    justify-content: space-between;
    overflow: auto;
    position: relative;
    transition: all 0.5s ease;
}

.card-contents {
    padding: 18px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.card-content-header {
    margin-bottom: 12px;
    padding: 0;
    flex-direction: column;
}

.card-content-header-main {
    position: relative;
    align-items: center;
    color: #BBB;
    display: flex;
    font-weight: 300;
    justify-content: space-between;
    width: 100%;
}

.card-type {
    color: #6F99B8;
    font-size: 30px;
    opacity: 0.20;
    align-items: center;
    display: flex;
    font-family: "Mont Bold", Mont, sans-serif;
    height: 32px;
    text-transform: uppercase;
}

.card-main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 18px;
}

.card-preview-text-container {
    color: #333;
    height: auto;
    min-height: 30px;
    margin: 0;
    width: 100%;
}

.card-preview-text {
    color: #24292f;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 150%;
    margin-top: 0;
    text-align: center;
    font-size: 25px;
    margin: inherit;
    margin-bottom: 12px;
}
