#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 24px;
  color: #939BA5;
  font-size: 14px;
  font-weight: normal;
  font-weight: initial;
  text-align: left;
  /* opacity: 1; */
  padding: 30px;
  margin-top: -100px;
  transition: opacity 200ms ease 0s, margin 400ms ease 0s;
  display: grid;
  grid-row-gap: 1.3rem;
  max-height: calc(80vh - 60px);
  max-width: calc(80vw - 60px);
  overflow: auto;
  width: 540px;
}
