#signup-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 1.125rem;
    width: 100%;
    color: white;
    background-color: #FF8243;
    width: 123px;
}

#signup-header {
    color: #324A6B;
    font-family: "Mont Bold", Mont, sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}

label {
    color: #aaa;
    font-size: 16px;
    font-weight: 300;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 8px;
    transition: 0.2s ease all;
}

.text-input {
    background-color: transparent;
    color: #197096;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-bottom: 4px solid #eee;
    border-radius: 0;
    height: 36px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 10;
}

.text-input:focus {
    outline: none;
    border-bottom: 4px solid #197096;
}

.input-container{
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px
}

input:focus ~ label,
input:valid ~ label {
    top: -12px;
    font-size: 12px;
}

input:not(:placeholder-shown)~label {
    top: -12px;
    font-size: 12px;
}
